<div class="container">
  <h1>ESGN eSports Platform</h1>

  <p>
    Working as a part time freelace developer/ Angular 4 consultant for a startup eSparts platform called ESGN.
    Please visit <a href="http://www.nizebrand.com" target="_blank">(http://www.nizebrand.com/)</a> for more info...
    <br />
    <br />
    * Converted chat javascript into Angular chat components.
    <br />
    * Implemented one to one chat, team chat, and group chat features.
  </p>

  <div class="row">
    <div class="col">
      <img style="width:100%" src="../../../assets/img/arm/esgn/chat3.png">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <img style="width:100%" src="../../../assets/img/arm/esgn/chat4.png">
    </div>
  </div>
  <br />
  <p>
    * Worked with junior developers to debug the problems.
    Provided solutions and examples to implements several features on the website.
    <br />
    * Provided solution for TinyMCE on the website.
    <br />
    * Implemented dynamic prize and reward form.
  </p>
  <br />
  <div class="row">
    <div class="col">
      <img style="width:100%" src="../../../assets/img/arm/esgn/countdown.png">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <img style="width:100%" src="../../../assets/img/arm/esgn/mce.png">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <img style="width:100%" src="../../../assets/img/arm/esgn/prize.png">
    </div>
  </div>

</div>
