<div class="container" style="width:  100%;">
  <h1>ESGN eSports Platform</h1>

  <p>
    Working as a part time freelance developer/ Angular 4 consultant for a startup eSports platform called ESGN.
    Please visit <a href="http://www.esgn.in.th/" target="_blank">(http://www.esgn.in.th/)</a> for more info...
    <br />
    <br />
    * Converted chat javascript into Angular chat components.
    <br />
    * Implemented one to one chat, team chat, and group chat features.
    <br />
    * All of the users can be searched and added to the group.
  </p>

  <div class="row">
    <div class="col">
      <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/esgn/chat1.png">
    </div>
  </div>
  <br />
  <div class="row">
      <div class="col">
        <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/esgn/bracket.png">
      </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
          <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/esgn/tournament.png">
        </div>
      </div>
  <br />
  <p>
    * Worked with junior developers to debug the problems.
    Provided solutions and examples to implements several features on the website.
    <br />
    * Provided solution for TinyMCE on the website.
    <br />
    * Implemented dynamic prize and reward form.
  </p>
  <br />
  <div class="row">
    <div class="col">
      <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/esgn/mce.png">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/esgn/prize.png">
    </div>
  </div>

</div>
