<div class="container" style="width:  100%;">
    <h1>NodeMCU Water Pump Controller</h1>

    <p>
      NodeMCU is used to communicate to an Ionic3 app via Firebase realtime database in the cloud
      so that the water pump can be controlled from anywhere in the world.

      * NodeMCU used to be able to communicate to Firebase in real time. Since there was a new update
      in Firebase, now NodeMCU gets and checks the on/off data from Firebase every 5 seconds.

      From this link you will find the source codes for NodeMCU and Ionic3 Application <a href="https://github.com/armgit5/waterpump/" target="_blank">(https://github.com/armgit5/waterpump/)</a>
    </p>

    <div class="row">
      <div class="col">
        <iframe width="970" height="600" src="https://www.youtube.com/embed/2or8mTK2LqE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/waterpump-iot/box1.JPG">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/waterpump-iot/box2.JPG">
      </div>
    </div>

    <br />
    Here is also the circuit of 4 channel relay module that takes 5VDC signal from NodeMCU
    to control 220VAC to turn on and off the water pump.
    <br />
    <div class="row">
      <div class="col">
        <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/waterpump-iot/4-channel-relay-module_bb.png">
      </div>
    </div>

  </div>
