<div class="fixed-plugin">
  <div class="dropdown open">
      <a href="#" data-toggle="dropdown">
      <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
          <li class="header-title">More Projects</li>
          <!-- <li class="adjustments-line">
              <a href="javascript:void(0)" class="switch-trigger">
                  <p class="pull-right">Filter</p>
                  <div class="pull-left">
                      <span class="badge selector badge-blue active" data-color="blue" data-button="info"></span>
                      <span class="badge selector badge-green" data-color="green" data-button="success"></span>
                      <span class="badge selector badge-orange" data-color="orange" data-button="warning"></span>
                      <span class="badge selector badge-red" data-color="red" data-button="danger"></span>
                      <span class="badge selector badge-black" data-color="gray" data-button="default"></span>
                  </div>
                  <div class="clearfix"></div>
              </a>
          </li> -->
          <li class="header-title">Deep Learning</li>
          <li >
              <a [routerLink]="['/projects/deep-learning']" class="switch">
                  <img src="https://storage.googleapis.com/arm-site/arm/cat_200x96.jpeg">
                  <p class="pull-left">Classifying cat image</p>
              </a>
          </li>
          <li class="header-title">ESGN Esport</li>
          <li class="">
              <a [routerLink]="['/projects/esgn']" class="switch">
                  <img src="https://storage.googleapis.com/arm-site/arm/esgn_200x96.png">
                  <p class="pull-left">eSports Platform</p>
              </a>
          </li>

      </ul>
  </div>
</div>
