<div class="sidebar" data-color="azure" data-image="../../../assets/img/arm/sidebar-4.jpg">

  <!--
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag
    -->

  <div class="sidebar-wrapper">
    <div class="logo" style="padding-bottom:20px;">
      <a class="simple-text" [routerLink]="['/']" style="padding:0px;padding-left:15px">
        YUTTANANT SUWANSIRI
        <br>
        <p _ngcontent-c1="" style="font-size: 12px;margin:0px;">MORE</p>
        <p _ngcontent-c1="" style="font-size: 12px;margin:0px;"> &nbsp; PROJECTS</p>
      </a>
    </div>

    <ul class="nav">

      <!-- Deep Learning project -->
      <li routerLinkActive="active">
        <a [routerLink]="['/projects/deep-learning']">
          <i class="pe-7s-user"></i>
          <p>Deep Learning</p>
        </a>
      </li>

      <!-- ESGN project -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/projects/esgn']">
          <i class="pe-7s-graph"></i>
          <p>ESGN</p>
        </a>
      </li>

      <!-- Ionic project -->
      <li routerLinkActive="active">
        <a [routerLink]="['/projects/ionic']">
          <i class="pe-7s-user"></i>
          <p>Ionic3</p>
        </a>
      </li>

      <!-- Google app project -->
      <li routerLinkActive="active">
        <a [routerLink]="['/projects/google-app']">
          <i class="pe-7s-user"></i>
          <p>Google App</p>
        </a>
      </li>

      <!-- Water Pump Controller project -->
      <li routerLinkActive="active">
        <a [routerLink]="['/projects/waterpump-iot']">
          <i class="pe-7s-user"></i>
          <p>Water Pump IoT </p>
        </a>
      </li>

      <!-- PCB project -->
      <li routerLinkActive="active">
        <a [routerLink]="['/projects/pcb']">
          <i class="pe-7s-user"></i>
          <p>PCB Design</p>
        </a>
      </li>

    </ul>
  </div>
</div>
