<div class="container" style="width:  100%;">
  <h1>A Scalable Google App Engine Application</h1>

  <p>
    This project is from Udacity's Developing Scalable Apps in Python.
    This app is written in Python using Google Protocol RPC to make http requests.
    <br />
    Google Cloud Datastore NoSQL, index, and memcache are used to store the data and scale the application.
    <br />
    Please visit <a href="https://python-196108.appspot.com/" target="_blank">(https://python-196108.appspot.com/)</a> for more info...
  </p>

  <div class="row">
    <div class="col">
      <img style="width:100%" src="https://drive.google.com/open?id=1DiIeceanrkVee6pm5A2hiO5hbSFG4CfQ">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/google-app/conferences.png">
    </div>
  </div>
  <div class="row">
      <div class="col">
        <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/google-app/create-conference.png">
      </div>
    </div>
</div>
