<div class="section section-gray section-clients">
  <div class="container text-center">
      <h4 class="header-text">Project Categories</h4>
      <p>You will find the projects that I've been working on in different areas of engineering and software.
        In my free time, I'm working on an application for my brother's coffee shop in Augular 2, as well as participating in Hackerrank and Pramp.
        For my current company I'm working for, Nilpeter, I'm developing Ruby on Rails/ iOS electronic timesheet/calendar with handwriting signature application
        so that the engineers don't have to bring timesheet paper for the customer to sign anymore.
        My past experience since I helped friends start up a company called Petropower where you can see projects related to automation and embedded systems.
        My university project, AIAA BDF 2008 competition, the aircraft was designed with CATIA V5<br>
      </p>
      <a href="https://github.com/armgit5/algorithms" target="_blank">
          * Here are some of the sorting, graph, tree algorithms that I'm currently learning and working on.
      </a>

  </div>
</div>

