<div class="section section-demo" >

        <div class="container">
            <div class="row">
              <div class="col-md-5">
                  <h4 class="header-text">Calendar Web App</h4>
                  <p>
                      This app is made with Ruby on Rails for Nilpeter where it's link to iOS calendar app.
                      It has APIs that the iOS application can talk to and submit data.
                      Admin has control over each users from this web application like adding, editing, and deleting users or user's schedules.
                      The reported can be generated automatically in pdf format.
                      (username: arm, password: arm123)
                  </p>
                  <a href="https://github.com/armgit5/CalendarAppRuby" target="_blank" id="Demo3" class="btn btn-fill btn-info" data-button="info">GitHub</a>
              </div>

                <div class="col-md-6 col-md-offset-1">
                    <div id="description-carousel-ruby" class="carousel fade" data-ride="carousel">
                      <a href="http://arm-calendar.herokuapp.com/" target="_blank">
                        <div class="carousel-inner">

                            <div class="item">
                                <img src="assets/img/template/examples/home.2_11.png" alt="">
                            </div>
                            <div class="item active">
                                <img src="assets/img/template/examples/home.2_22.png" alt="">
                            </div>
                            <div class="item">
                                <img src="assets/img/template/examples/home.2_33.png" alt="">
                            </div>
                        </div>
                        </a>
                        <ol class="carousel-indicators carousel-indicators-blue">
                            <li data-target="#description-carousel-ruby" data-slide-to="0" class=""></li>
                            <li data-target="#description-carousel-ruby" data-slide-to="1" class="active"></li>
                            <li data-target="#description-carousel-ruby" data-slide-to="2" class=""></li>
                        </ol>
                    </div>
                </div>


            </div>
        </div>
    </div>
