<div class="container" style="width:  100%;">
    <h1>PCB Design Projects</h1>

    <p>
      Here are several design projects that I've been working on.
    </p>
    <br />
    <p>
      * Blinky board
    </p>
    <div class="row">
      <div class="col-md-6">
        <a href="https://github.com/armgit5/BlinkyBoard" target="_blank">
          <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/pcb/blinky.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="https://github.com/armgit5/BlinkyBoard" target="_blank">
          <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/pcb/blinky2.jpeg">
        </a>
      </div>
    </div>
    <br />
    <br />

    <p>
      * Seven Segment Display
    </p>
    <div class="row">
      <div class="col">
        <a href="https://github.com/armgit5/sevenSegmentDisplay" target="_blank">
          <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/pcb/seven-segment.png">
        </a>
      </div>
    </div>
    <br />
    <br />

    <p>
      * rf24Breakout Board
    </p>
    <div class="row">
      <div class="col-md-6">
        <a href="https://github.com/armgit5/rf24Breakout" target="_blank">
          <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/pcb/rf24.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="https://github.com/armgit5/rf24Breakout" target="_blank">
          <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/pcb/rf242.jpg">
        </a>
      </div>
    </div>
    <br />
    <br />

    <p>
      * 16-LED-board
    </p>
    <div class="row">
      <div class="col-md-6">
        <a href="https://github.com/armgit5/16-LED-board" target="_blank">
          <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/pcb/16led.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="https://github.com/armgit5/16-LED-board" target="_blank">
          <img style="width:100%" src="https://storage.googleapis.com/arm-site/arm/pcb/16led2.JPG">
        </a>
      </div>
    </div>
    <br />
    <br />




  </div>
