<div class="section section-demo section-gray">

  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <iframe width="475" height="315" src="https://www.youtube.com/embed/GvVVP7kXiKs" frameborder="0" allowfullscreen="" style="border:10px
                  solid #c0c0c0;
                  border-radius:10px;"></iframe>
      </div>
      <a href="http://www.petropower.com/" target="_blank">
        <div class="col-md-4 col-md-offset-2">
          <h4 class="header-text">PetroPower</h4>
          <p>
            A company that I helped my friends start up from the university. The company provides remote monitoring systems to oil producers
            in the US.
          </p>
          <!-- <a href="https://github.com/armgit5/CalendarAppRuby" target="_blank" id="Demo3" class="btn btn-fill btn-info" data-button="info">GitHub</a> -->
        </div>
      </a>
    </div>
  </div>
</div>
