<div class="container" style="width:  100%;">
  <h1>Neural Network</h1>

  <p>
    A neural network that uses one activation function that can predict if the picture is a cat picture with 70%
    accuracy at the moment. I'm planning on adding more layers and neuron in each layer to improve the accuracy in the future.
    The application runs on Flask framework.
    Please visit <a href="http://arm-deep.herokuapp.com" target="_blank">(http://arm-deep.herokuapp.com)</a> for more info...
    Or to visit github page from this link here <a href="https://github.com/armgit5/flask-neuron-network" target="_blank">(https://github.com/armgit5/flask-neuron-network)</a>
  </p>

  <div class="row">
    <div class="col">
      <img style="width:100%" src="../../../assets/img/arm/deep-learning/LogReg_kiank.png">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <img style="width:100%" src="../../../assets/img/arm/deep-learning/application.png">
    </div>
  </div>
</div>
