<div class="section section-presentation">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <div class="description">
                  <h4 class="header-text">oasit coffee</h4>
                  <p>This project is not finished yet. I'm working on this application using Angular 2.
                  The idea is that to have the customers order coffees on an iPad and when the coffee shop is very busy with
                  many customers coming in in one time, the customers can see the queue online so they are able to know how long
                  they will have to wait until they will get thier coffees made</p>
                  <p>In the future, I would like to coffee shop to be able to manage coffee inventory and customers can make an online payment
                     and keep track of coffees they have purchased for more rewards later on<p>
              </div>
          </div>
          <div class="col-md-6 col-md-offset-1 hidden-xs">
              <a href="http://oasitcoffee.herokuapp.com/" target="_blank"><img src="https://storage.googleapis.com/arm-site/template/mac3.png"/></a>
          </div>
      </div>
  </div>
</div>
