<div class="section section-features">
  <div class="container">
      <h4 class="header-text text-center">PetroPower Projects</h4>
      <div class="row">
        <a href="https://plus.google.com/photos/114338000153341131198/albums/5833685606486241009?aut%20hkey=CL25kuSEqc_QkQE"
         target="_blank">
          <div class="col-md-4">
              <div class="card card-blue" style="height:500px">
                  <div class="icon">

                      <i class="pe-7s-ticket"></i>
                  </div>
                  <div class="text">
                      <h4>Oil-Pipeline Ticketing System</h4>
                      <p>Truck drivers would be able to submit their tickets via the HMI.
                        The HMI then uploads the ticket information to display on the website for the managers to view.
                        The HMI is connected to VEGAPuls 61 radar level sensor, and TM2700 flow meter.
                        The managers would also be able to shut down his site remotely from Petropower's webpage.</p>
                  </div>
              </div>
          </div>
          </a>
          <a href="https://plus.google.com/photos/114338000153341131198/albums/5835061590091011137?aut%20hkey=CN32qNSvvpfahAE"
           target="_blank">
          <div class="col-md-4">
              <div class="card card-blue" style="height:500px">
                <div class="icon">
                    <i class="pe-7s-graph1"></i>
                </div>
                  <h4>ABB uFlo6213 Gas Monitoring System</h4>
                  <p>Integration between Petropower's system with ABB uFlo6213.
                    The monitoring system transmited the data such as static pressure, differential pressure,
                    realtime gas flow, net flow, yesterday flow, cummulative flow,
                    and temperature to display on the website.
                  </p>
              </div>
          </div></a>
          <a href="https://plus.google.com/photos/114338000153341131198/albums/5835931674512353313?aut%20hkey=CLyKq5uIy-WnbQ"
           target="_blank">
          <div class="col-md-4">
              <div class="card card-blue" style="height:500px">
                <div class="icon">
                    <i class="pe-7s-alarm"></i>
                </div>
                  <h4>SCADAPack 334 Automatic Shut Off System</h4>
                  <p>The system kill 2 oil field locations (Epley C and Epley A) based on the oil level on each tank around the 2 locations.
                    For example, when Epley A tank# 1 reaches 14 ft 6 inches, the brain (located at Epley C location) will send a wireless signal to Epley A location to shut down Epley A site.
                    The kill limit 14ft 6 inches can also be adjusted remotely</p>
              </div>
          </div>
          </a>
      </div>
  </div>
</div>
