<div class="section section-demo section-gray">

  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <h4 class="header-text">Aiaa bdf 2008 competition</h4>
        <p>
          Senior design Wichita State University project. We had to design and build a small RC aircraft accordingly to AIAA's constraint.
          There were 60 teams from diffrent universities around the world in this competition. The design report won the
          1st place and the aircraft won 8th place overall.

        </p>
        <a href="https://drive.google.com/drive/folders/0B3S3bnWgy5ZwVHZlNWZnNXc2X0U" target="_blank" id="Demo3" class="btn btn-fill btn-info"
          data-button="info">Design Report</a>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <iframe width="475" height="315" src="https://www.youtube.com/embed/5sjCqaH0aRI" frameborder="0" allowfullscreen="" style="border:10px
                           solid #c0c0c0;
                           border-radius:5px;"></iframe>
      </div>
    </div>
  </div>
</div>
