<div class="parallax filter-gradient blue" data-color="blue">
  <div class="parallax-background">
      <img class="parallax-background-image" src="assets/img/template/bg7.jpg">
  </div>
  <div class= "container">
      <div class="row">
          <div class="col-md-5 hidden-xs">
              <div class="parallax-image">
                  <img class="phone" src="assets/img/template/iphone3.png" style="margin-top: 20px"/>
              </div>
          </div>
          <div class="col-md-6 col-md-offset-1">
              <div class="description">
                  <h2>Yuttanant Suwansiri</h2>
                  <br>
                  <h5>Developer & entrepreneur who is passionate in engineering, software, automation and embedded system. Proficient with Python, Javascript and Swift. Algorithms & Machine Learning Enthusiast.
          </h5>
              </div>

          </div>
      </div>
  </div>
</div>
